### Hostname cho cac may CONTROLLER
CTL1_HOSTNAME=controller1
COM1_HOSTNAME=compute1
COM2_HOSTNAME=compute2
CINDER1_HOSTNAME=cinder1
SWIFT1_HOSTNAME=swift1
SWIFT2_HOSTNAME=swift2


## IP Address CONTROLLER
CTL1_IP_NIC1=192.168.20.33
CTL1_IP_NIC2=10.10.0.33
CTL1_IP_NIC3=172.16.20.33
CTL1_IP_NIC4=192.168.40.33

## IP Address COMPUTE1
COM1_IP_NIC1=192.168.20.34
COM1_IP_NIC2=10.10.0.34
COM1_IP_NIC3=172.16.20.34
COM1_IP_NIC4=192.168.40.34

## IP Address COMPUTE2
COM2_IP_NIC1=192.168.20.35
COM2_IP_NIC2=10.10.0.35
COM2_IP_NIC3=172.16.20.35
COM2_IP_NIC4=192.168.40.35

## IP Address CINDER1
CINDER1_IP_NIC1=192.168.20.36
CINDER1_IP_NIC2=10.10.0.36
CINDER1_IP_NIC3=172.16.20.36
CINDER1_IP_NIC4=192.168.40.36

## IP Address SWIFT1
SWIFT1_IP_NIC1=192.168.20.37
SWIFT1_IP_NIC2=10.10.0.37
SWIFT1_IP_NIC3=172.16.20.37
SWIFT1_IP_NIC4=192.168.40.37

## IP Address SWIFT2
SWIFT2_IP_NIC1=192.168.20.38
SWIFT2_IP_NIC2=10.10.0.38
SWIFT2_IP_NIC3=172.16.20.38
SWIFT2_IP_NIC4=192.168.40.38

### Pass default
PASS_DEFAULT='Ec0net123'

### Password cho MariaDB
PASS_DATABASE_ROOT=$PASS_DEFAULT
PASS_DATABASE_KEYSTONE=$PASS_DEFAULT
PASS_DATABASE_NOVA=$PASS_DEFAULT
PASS_DATABASE_NOVA_API=$PASS_DEFAULT
PASS_DATABASE_NOVA_CELL=$PASS_DEFAULT
PASS_DATABASE_NEUTRON=$PASS_DEFAULT
PASS_DATABASE_GLANCE=$PASS_DEFAULT
PASS_DATABASE_CINDER=$PASS_DEFAULT
PASS_DATABASE_SWIFT=$PASS_DEFAULT
PASS_DATABASE_CEILOMTER=$PASS_DEFAULT
PASS_DATABASE_AODH=$PASS_DEFAULT
PASS_DATABASE_GNOCCHI=$PASS_DEFAULT

### Password openstack service
RABBIT_PASS=$PASS_DEFAULT
METADATA_SECRET=$PASS_DEFAULT
ADMIN_PASS=$PASS_DEFAULT
DEMO_PASS=$PASS_DEFAULT
GLANCE_PASS=$PASS_DEFAULT
NOVA_PASS=$PASS_DEFAULT
NOVA_API_PASS=$PASS_DEFAULT
PLACEMENT_PASS=$PASS_DEFAULT
CINDER_PASS=$PASS_DEFAULT
SWIFT_PASS=$PASS_DEFAULT
NEUTRON_PASS=$PASS_DEFAULT
CEILOMETER_PASS=$PASS_DEFAULT
GNOCCHI_PASS=$PASS_DEFAULT
AODH_PASS=$PASS_DEFAULT

